%h1= title
%div.quiz
  %div.created_at= quiz.created_at
  %div.title= quiz.title
  %div.body= quiz.body
  - each comment in quiz.comments
    %div.comment
      %div.person= comment.person
      %div.comment= comment.comment
  %div
    %form{ method: 'post', action:"/quiz/addComment" }
      %input{ type: "hidden", name:"_id", value: quiz._id.toHexString()}
      %div
        %span Author :
        %input{ type: 'text', name: 'person', id: 'addCommentPerson' }
      %div
        %span Comment :
        %textarea{ name: 'comment', rows: 5, id: 'addCommentComment' }
      %div#editQuizSubmit
        %input{ type: 'submit', value: 'Send' }
